<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
    <body>
        <header class="masthead img-fluid" style="background-image: url('/img/main.svg')">
            <div class="container position-relative px-4 px-lg-5 py-3">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 id="my-h1">Job id: <%=job._id%></h1>
                            <span class="subheading"><%=job.createdAt%></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="px-2 my-1 mx-1">
                <div class="row d-flex justify-content-lg-between">
                  <div class="col-md-4">
                      <div class="row mt-3">
                          <div class="card border rounded-5 p-3" style="width: 100%; height: 1070px; background-color: #F7F7F7; overflow: auto;">
                            <div class="card border rounded-5 p-1 m-1 row gx-4 gx-lg-5" style="width: 98%;">
                              <form method= "POST" action="/job/<%= job._id %>?_method=DELETE" class="needs-validation" novalidate="">
                              <div class="logo mt-4">
                                  <div class="col-md-12 text-center">
                                  <h2 style="font-size: 20px;">Recommendations</h2>
                                  </div>
                              </div>
                              <div class="justify-content-center px-4 pb-4">
                                <div class="col-md-6">
                                  <label for="title" class="form-label">Title</label>
                                  <input type="text" class="form-control" id="title" name="title" value="<%=job.title%>" placeholder="Title" disabled>
                                </div>
                                <div class="col-md-12">
                                  <label for="description" class="form-label">Description</label>
                                  <input type="text" class="form-control" id="description" name="description" value="<%=job.description%>" placeholder="Description" disabled>
                                </div>
                                <div class="col-md-9 py-2 mb-2">
                                  <label for="service" class="form-label">Service</label>
                                  <select class="form-select" id="service" name="service" placeholder="" aria-disabled="true" disabled>
                                      <option><%= job.service %></option>
                                  </select>
                                </div>
                                <div class="col-md-9">
                                  <label for="object" class="form-label">object</label>
                                  <input type="text" class="form-control" id="object" name="object" placeholder="Title" value="<%= job.object %>" disabled>
                                </div>
                                <div class="col-md-9">
                                  <label for="title" class="form-label">key</label>
                                  <input type="key" class="form-control" id="key" name="key" placeholder="key" value="<%= job.key %>" disabled>
                                </div>
                                <div class="col-md-9 py-2 mb-2">
                                  <label for="request" class="form-label">request</label>
                                  <input type="text" class="form-control" id="request" name="request" placeholder="request" value="<%= job.request %>" disabled>
                                </div>
                                <div class="col-md-12 text-center">
                                  <button class="mx-3 btn btn-danger" type="submit">Delete recommendations</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <div class="card border rounded-5 p-1 py-2 m-1 mt-3 row gx-4 gx-lg-5" style="width: 98%;">
                            <div class="logo mt-4">
                              <div class="col-md-12 text-center">
                                <h2 style="font-size: 20px;">Preview Data</h2>
                              </div>
                            </div>
                            <div class="justify-content-center px-4 pb-4">
                              <div class="mb-2">
                                <label for="dataObject" class="form-label">Data source user</label>
                                <div class="d-flex justify-content-between">
                                  <div class="">
                                    <button id="btn-unique" class="btn btn-primary" type="button" onclick="onPreviewData(1)">Preview</button>
                                  </div>
                                  <div class="dropdown">
                                    <button
                                      class="btn btn-light dropdown-toggle"
                                      type="button"
                                      id="dropdownMenuButton"
                                      data-mdb-toggle="dropdown"
                                      aria-expanded="false"
                                    >
                                      Export Data
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <% if (dataObject.data) { %>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=object&type=json">.Json</a></li>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=object&type=csv">.Csv</a></li>
                                      <% } else { %>
                                        <li><a class="dropdown-item" href="#">No data</a></li>
                                      <% } %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="mb-2">
                                <label for="dataObject" class="form-label">Data source interactions</label>
                                <div class="d-flex justify-content-between">
                                  <div class="">
                                    <button id="btn-unique" class="btn btn-primary" type="button" onclick="onPreviewData(2)">Preview</button>
                                  </div>
                                  <div class="dropdown">
                                    <button
                                      class="btn btn-light dropdown-toggle"
                                      type="button"
                                      id="dropdownMenuButton"
                                      data-mdb-toggle="dropdown"
                                      aria-expanded="false"
                                    >
                                      Export Data
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <% if (dataKey.data) { %>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=key&type=json">.Json</a></li>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=key&type=csv">.Csv</a></li>
                                      <% } else { %>
                                        <li><a class="dropdown-item" href="#">No data</a></li>
                                      <% } %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="mb-2">
                                <label for="dataObject" class="form-label">Data source items/contents</label>
                                <div class="d-flex justify-content-between">
                                  <div class="">
                                    <button id="btn-unique" class="btn btn-primary" type="button" onclick="onPreviewData(3)">Preview</button>
                                  </div>
                                  <div class="dropdown">
                                    <button
                                      class="btn btn-light dropdown-toggle"
                                      type="button"
                                      id="dropdownMenuButton"
                                      data-mdb-toggle="dropdown"
                                      aria-expanded="false"
                                    >
                                      Export Data
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <% if (dataRequest.data) { %>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%= job._id %>?dataName=request&type=json">.Json</a></li>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%= job._id %>?dataName=request&type=csv">.Csv</a></li>
                                      <% } else { %>
                                        <li><a class="dropdown-item" href="#">No data</a></li>
                                      <% } %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="mb-2">
                                <label for="dataObject" class="form-label">Data recommends</label>
                                <div class="d-flex justify-content-between">
                                  <div class="">
                                    <button id="btn-unique" class="btn btn-primary" type="button" onclick="onPreviewData(4)">Preview</button>
                                  </div>
                                  <div class="dropdown">
                                    <button
                                      class="btn btn-light dropdown-toggle"
                                      type="button"
                                      id="dropdownMenuButton"
                                      data-mdb-toggle="dropdown"
                                      aria-expanded="false"
                                    >
                                      Export Data
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <% if (dataRecommend.data) { %>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=recommends&type=json">.Json</a></li>
                                        <li><a class="dropdown-item" href="/job/extractFile/<%=job._id%>?dataName=recommends&type=csv">.Csv</a></li>
                                      <% } else { %>
                                        <li><a class="dropdown-item" href="#">No data</a></li>
                                      <% } %>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>	
                    <div class="col-md-8 py-3 px-1 ps-2">
                        <div class="text-left">
                            <div class="card border rounded-5 p-1" style="width: 100%; height: 1070px; background-color: #F7F7F7; overflow: auto;">
                              <div id="table-1" class="card border rounded-5 p-1 mt-3" style="width: 99%; height: 1020px;">
                                <div class="col-md-12 text-center mt-2">
                                  <h2 style="font-size: 20px;">Data source user</h2>
                                </div>
                                <div class="table-responsive">
                                  <table id="table" class="table table-hover table-borderless align-middle caption-top p-2" style=" overflow: auto;">
                                    <caption>
                                      <% if (dataObject.data) { %>
                                        Data source user <%= dataObject.current %> / <%= dataObject.count %>
                                      <% } else { %>
                                        Data source user
                                      <% } %>
                                    </caption>
                                    <thead class="table-dark">
                                      <tr>
                                        <% if (dataObject.data) { %>
                                          <th scope="col">#</th>
                                          <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                            <th scope="col">
                                              <% if(dataObject.unique && dataObject.unique.includes(key)){%>
                                                <i class="fas fa-key"><%= key %></i>
                                              <% } else { %>
                                                <%= key %>
                                              <% } %>
                                            </th>
                                          <% }) %>
                                        <% } else { %>
                                        <td colspan="5" class="text-center">
                                            You don't have data yet.
                                        </td>
                                        <% } %>
                                      </tr>
                                    </thead>
                                    <% if (dataObject.data) { %>
                                      <tbody>
                                        <% dataObject.data.forEach(function(data, index) { %>
                                          <tr>
                                            <th scope="row"><%= index +1 %></th>
                                            <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                              <td><%= data[key] %></td>
                                            <% }) %>
                                          </tr>
                                        <% }) %>
                                      </tbody>
                                    <% } %>
                                  </table>
                                </div>
                              </div>
                              <div id="table-2" class="card border rounded-5 p-1 mt-3 d-none" style="width: 99%; height: 1020px;">
                                <div class="col-md-12 text-center mt-2">
                                  <h2 style="font-size: 20px;">Data source interactions</h2>
                                </div>
                                <div class="table-responsive">
                                  <table id="table" class="table table-hover table-borderless align-middle caption-top p-2" >
                                    <caption>
                                      <% if (dataKey.data) { %>
                                        Data source interactions <%= dataKey.current %> / <%= dataKey.count %>
                                      <% } else { %>
                                        Data source interactions
                                      <% } %>
                                    </caption>
                                    <thead class="table-dark">
                                      <tr>
                                        <% if (dataKey.data) { %>
                                          <th scope="col">#</th>
                                          <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                            <th scope="col d-inline">
                                              <% if(dataKey.unique && dataKey.unique.includes(key)){ %>
                                                <i class="fas fa-key"><%= key %></i>
                                              <% } else { %>
                                                <%= key %>
                                              <% } %>
                                            </th>
                                          <% }) %>
                                        <% } else { %>
                                        <td colspan="5" class="text-center">
                                            You don't have data yet.
                                        </td>
                                        <% } %>
                                      </tr>
                                    </thead>
                                  <% if (dataKey.data) { %>
                                    <tbody>
                                      <% dataKey.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                  </table>
                                </div>
                              </div>
                              <div id="table-3" class="card border rounded-5 p-1 mt-3 d-none" style="width: 99%; height: 1020px;">
                                <div class="col-md-12 text-center mt-2">
                                  <h2 style="font-size: 20px;">Data source items/contents</h2>
                                </div>
                                <div class="table-responsive">
                                  <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                    <caption>
                                      <% if (dataRequest.data) { %>
                                        Data source items/contents <%= dataRequest.current %> / <%= dataRequest.count %>
                                      <% } else { %>
                                        Data source items/contents
                                      <% } %>
                                    </caption>
                                    <thead class="table-dark">
                                      <tr>
                                        <% if (dataRequest.data) { %>
                                          <th scope="col">#</th>
                                          <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                            <th scope="col">
                                              <% if(dataRequest.unique && dataRequest.unique.includes(key)) { %>
                                                <i class="fas fa-key"><%= key %></i>
                                              <% } else { %>
                                                <%= key %>
                                              <% } %>
                                            </th>
                                          <% }) %>
                                        <% } else { %>
                                        <td colspan="5" class="text-center">
                                            You don't have data yet.
                                        </td>
                                        <% } %>
                                      </tr>
                                    </thead>
                                    <% if (dataRequest.data) { %>
                                      <tbody>
                                        <% dataRequest.data.forEach(function(data, index) { %>
                                          <tr>
                                            <th scope="row"><%= index + 1 %></th>
                                            <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                              <td><%= data[key] %></td>
                                            <% }) %>
                                          </tr>
                                        <% }) %>
                                      </tbody>
                                    <% } %>
                                  </table>
                                </div>
                              </div>
                              <div id="table-4" class="card border rounded-5 p-1 mt-3 d-none" style="width: 99%; height: 1020px;">
                                <div class="col-md-12 text-center mt-2">
                                  <h2 style="font-size: 20px;">Data recommends</h2>
                                </div>
                                <div class="table-responsive">
                                  <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                    <caption>
                                      <% if (dataRecommend.data) { %>
                                        Data recommends <%= dataRecommend.current %> / <%= dataRecommend.count %>
                                      <% } else { %>
                                        Data recommends
                                      <% } %>
                                    </caption>
                                    <thead class="table-dark">
                                      <tr>
                                        <% if (dataRecommend.data) { %>
                                          <th scope="col">#</th>
                                          <% Object.keys(dataRecommend.data[0]).forEach(function(key, index) { %>
                                            <th scope="col d-inline">
                                              <% if(dataRecommend.unique && dataRecommend.unique.includes(key)) { %>
                                                <i class="fas fa-key"><%= key %></i>
                                              <% } else { %>
                                                <%= key %>
                                              <% } %>
                                            </th>
                                          <% }) %>
                                        <% } else { %>
                                        <td colspan="5" class="text-center">
                                            You don't have data yet.
                                        </td>
                                        <% } %>
                                      </tr>
                                    </thead>
                                  <% if (dataRecommend.data) { %>
                                    <tbody>
                                      <% dataRecommend.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <% Object.keys(dataRecommend.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                  </table>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="footer">
            <%- include('../layouts/footer') -%>
        </div>
        <%- include('../layouts/scripts')  -%>
      <script>
        function onPreviewData(num) {
          for (let i = 1; i < 5; i++) {
            if(i == num) {
              if( $(`#table-${i}`).hasClass('d-none')) {
                $(`#table-${i}`).removeClass('d-none');
              }
            }
            else {
              if( $(`#table-${i}`).hasClass('d-none')) {
                continue;
              } else {
                $(`#table-${i}`).addClass('d-none');
              }
            }
          }
        }
      </script>
    </body>
</html>