<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
<body>
    <header class="masthead img-fluid" style="background-image: url('/img/main.svg')">
        <div class="container position-relative px-4 px-lg-5 py-3">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>New job</h1>
                        <span class="subheading">Create a new job</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id= "main" class="container px-4 px-lg-5 mb-10">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="">
                    <form method= "POST" action="/job/new-job" class="needs-validation" novalidate="" enctype="">    
                    <% if(messageType == 'success') { %>
                        <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                            <strong><%= message %></strong>
                            <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %>
                    <% if(messageType == 'danger') { %>
                        <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                            <strong><%= message %></strong>
                            <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                            <div class="invalid-feedback">
                                Valid title is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="username" class="form-label">Description</label>
                            <div class="input-group has-validation">
                                <textarea class="form-control" id="description" name="description" placeholder="Description" required></textarea>
                                <div class="invalid-feedback">
                                    Your description is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <label for="dataSourceType" class="form-label">Type Data</label>
                            <select class="form-select" id="dataSourceType" name="dataSourceType" required>
                                <option value="">Choose...</option>
                                <option value="file">File upload csv, xlsx, json</option>
                                <option value="sqlS">SQL Server</option>
                                <option value="mysql">MySQL</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a dataSourceType.
                            </div>
                        </div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button
                                  class="accordion-button collapsed"
                                  type="button"
                                  data-mdb-toggle="collapse"
                                  data-mdb-target="#collapseOne"
                                  aria-expanded="false"
                                  aria-controls="collapseOne"
                                  id="btn1"
                                >
                                  Add Information
                                </button>
                              </h2>
                              <div
                                id="collapseOne"
                                class="accordion-collapse collapse"
                                aria-labelledby="headingOne"
                                data-mdb-parent="#accordionExample"
                              >
                                <div class="accordion-body">
                                    <div class="col-sm-6">
                                        <label for="server" class="form-label">Server</label>
                                        <input type="text" class="form-control" id="server" name="server" placeholder="EX: server name" required>
                                        <div class="invalid-feedback">
                                          Please provide a valid city.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="user" class="form-label">User</label>
                                        <input type="text" class="form-control" id="user" name="user" placeholder="EX: username" required>
                                        <div class="invalid-feedback">
                                          Please provide a valid zip.
                                        </div>
                                    </div>
                                    <div id="text_request" class="col-sm-6">
                                        <label for="password" class="form-label">password</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="EX: password" required>
                                        <div class="invalid-feedback">
                                          Please provide a valid zip.
                                        </div>
                                    </div>
                                    <div id="text_request" class="col-sm-6">
                                        <label for="database" class="form-label">database</label>
                                        <input type="text" class="form-control" id="database" name="database" placeholder="EX: DB name" required>
                                        <div class="invalid-feedback">
                                          Please provide a valid zip.
                                        </div>
                                    </div>
                                    <div id="text_request" class="col-sm-6">
                                        <label for="port" class="form-label">port</label>
                                        <input type="number" class="form-control" id="port" name="port" placeholder="EX: Server port" required>
                                        <div class="invalid-feedback">
                                          Please provide a valid zip.
                                        </div>
                                    </div>
                                    <!-- <div class="mb-3">
                                        <label for="dataSourceObject" class="form-label">Data source user</label>
                                        <input type="file" name="dataSourceObject" id="dataSourceObject" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                        <div class="invalid-feedback">Example invalid form file feedback</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="dataSourceKey" class="form-label">Data source interactions</label>
                                        <input type="file" name="dataSourceKey" id="dataSourceKey" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                        <div class="invalid-feedback">Example invalid form file feedback</div>
                                    </div>
                                    <div id="dt_request" class="mb-3">
                                        <label for="dataSourceRequest" class="form-label">Data source items/contents</label>
                                        <input type="file" name="dataSourceRequest" id="dataSourceRequest" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                        <div class="invalid-feedback">Example invalid form file feedback</div>
                                    </div> -->
                                </div>
                              </div>
                            </div>
                        </div>
                    <hr class="my-2">
                    <button id="btn-submit" class="w-100 btn btn-primary btn-lg" type="submit">Create Job</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class ="hide" id="loading-page">
        <img src="/img/1_CsJ05WEGfunYMLGfsT2sXA.gif" alt="" srcset="">
    </div>
    <div class="fixed-bottom">
        <%- include('../layouts/footer') -%>
    </div>
    <%- include('../layouts/scripts')  -%>
    <script>
        $(document).ready(function(){
            $('.accordion-collapse').attr('id','');
            $("#btn1").click(function(){
                if(!$('#dataSourceType').val()) {
                    alert("please choose dataSourceType first!");
                    return;
                }
                else if ($('#dataSourceType').val() == 'file') {
                    alert("Can`t access");
                    return;
                }
                else {
                    $('.accordion-collapse').attr('id', 'collapseOne');
                    /* if ($('#service').val() == "user to user") {
                        $('#text_request').hide();
                        $('#dt_request').hide();
                    }
                    else {
                        $('#text_request').show();
                        $('#dt_request').show();
                    } */
                }
            });
            $('#dataSourceType').on('change', () => {
                $('.accordion-collapse').attr('id','');
                $('#btn1').addClass('collapsed');
                $('.accordion-collapse').removeClass('show');
            });
            $("#btn-alert").click(function(){
                $('#alert').hide();
            });
            $('#btn-submit').click(function(){
                $('body').addClass("preloading body-hide");
                $('.fixed-bottom').hide();
                $('#loading-page').show();
            });
        });
    </script>
</body>
</html>