<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
    <body>
        <div class="container-fluid">
            <div class="p-3 my-4">
                <div class="row d-flex justify-content-lg-between">
                    <div class="col-md-4">
                        <div class="row">
                            <% if (dataSource.type == 'file') { %>
                              <div class="mb-3">
                                <label for="dataSourceObject" class="form-label">Data source user</label>
                                <input type="file" name="dataSourceObject" id="dataSourceObject" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div class="mb-3">
                                  <label for="dataSourceKey" class="form-label">Data source interactions</label>
                                  <input type="file" name="dataSourceKey" id="dataSourceKey" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div id="dt_request" class="mb-3">
                                  <label for="dataSourceRequest" class="form-label">Data source items/contents</label>
                                  <input type="file" name="dataSourceRequest" id="dataSourceRequest" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                            <% } else {%>
                              <div class="mb-3">
                                <label for="dataSourceObject" class="form-label">Data source user</label>
                                <input type="file" name="dataSourceObject" id="dataSourceObject" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div class="mb-3">
                                  <h3>Data source interactions</h3>
                                  <input type="text" name="" id="" class="form-control" aria-label="file example" value="<%= dataSource %>">
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                                  <label for="" class="form-label">Data source interactions</label>
                                  <input type="text" name="" id="" class="form-control" aria-label="file example">
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                                  <label for="" class="form-label">Data source interactions</label>
                                  <input type="text" name="" id="" class="form-control" aria-label="file example">
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div id="dt_request" class="mb-3">
                                  <label for="dataSourceRequest" class="form-label">Data source items/contents</label>
                                  <input type="file" name="dataSourceRequest" id="dataSourceRequest" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                            <% } %>
                        </div>	
                    </div>
                    <div class="col-md-8  pt-3">
                        <div class="text-left">
                            <h1>JOB : <%=jobs.length%></h1>
                            <div class="card border rounded-5 p-2" style="width: 95%; height: 447px; background-color: #F7F7F7; overflow: auto;">
                                <% if(jobs.length > 0){ %>
                                    <% jobs.forEach(function(job, index) { %>
                                    <div class="card-body border border-2 rounded-3 mb-1" 
                                    style="box-sizing: border-box; background-color: #FFFFFF">
                                        <h5 class="card-title text-dark">jobId = <%= job._id %></h3>
                                        <a href="/job/detail/<%= job._id %>"><h6 class="card-title text-dark"><%= job.title%></h5></a>
                                        <h6 class="card-subtitle mb-2 text-muted"><%= job.description %></h6>
                                        <h6 class="card-subtitle mb-2 text-muted"><%= job.createdAt %></h6>
                                        <div class = "d-flex mx-3 justify-content-between">
                                            <a href="/job/detail/<%= job._id %>"><button class = "btn btn-dark btn-sm text-capitalize">Detail</button></a>
                                        </div>
                                    </div>
                                    <% }); %> 
                                <% } %>
                                <% if(jobs.length == 0){ %>
                                  <tr>
                                  <td colspan="5" class="text-center">
                                      You don't have a job yet.
                                      <a href="/job/new-job">Create a new job</a>
                                  </td>
                                  </tr>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="footer">
            <%- include('../layouts/footer') -%>
        </div>
        <%- include('../layouts/scripts')  -%>
    </body>
</html>