<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
    <body>
        <header class="masthead img-fluid" style="background-image: url('/img/main.svg')">
            <div class="container position-relative px-4 px-lg-5 py-3">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 id="my-h1">Job id: <%=job._id%></h1>
                            <span class="subheading"><%=job.createdAt%></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="px-3 my-1 mx-2">
                <div class="row d-flex justify-content-lg-between">
                    <div class="col-md-4">
                        <div class="row mt-3">
                          <div class="card border rounded-5 p-3" style="width: 100%; height: 1100px; background-color: #F7F7F7; overflow: auto;">
                            <% if(messageType == 'success') { %>
                                <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                    <strong><%= message %></strong>
                                    <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %>
                            <% if(messageType == 'danger') { %>
                                <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                    <strong><%= message %></strong>
                                    <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %>
                            <% if (dataSource.type == 'file') { %>
                            <form method="POST" action="" class="form-horizontal">
                              <div class="my-3">
                                <label for="dataSourceObject" class="form-label">Data source user</label>
                                <input type="file" name="dataSourceObject" id="dataSourceObject" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div class="mb-3">
                                  <label for="dataSourceKey" class="form-label">Data source interactions</label>
                                  <input type="file" name="dataSourceKey" id="dataSourceKey" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <div id="dt_request" class="mb-3">
                                  <label for="dataSourceRequest" class="form-label">Data source items/contents</label>
                                  <input type="file" name="dataSourceRequest" id="dataSourceRequest" accept=".csv, .xml, .xlsx, .json"class="form-control" aria-label="file example" required>
                                  <div class="invalid-feedback">Example invalid form file feedback</div>
                              </div>
                              <button class="mx-5 btn btn-primary btn-sm" type="submit">Submit Query</button>
                            </form>
                            <% } else {%>
                            <form id="add-query" class="needs-validation" novalidate="" enctype="">
                              <div class="my-3">
                                <h5>Data source user</h5>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">SELECT</span>
                                    <% if(dataSource.queryobject && dataSource.queryobject.select) { %>
                                      <input type="text" class="form-control" placeholder="EX: *" name="object.select" value="<%= dataSource.queryobject.select %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                      <input type="text" class="form-control" placeholder="EX: *" name="object.select" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">FROM</span>
                                    <% if(dataSource.queryobject && dataSource.queryobject.from) { %>
                                      <input type="text" class="form-control" placeholder="EX: USER" name="object.from" value="<%= dataSource.queryobject.from %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                      <input type="text" class="form-control" placeholder="EX: USER" name="object.from" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">WHERE</span>
                                    <% if(dataSource.queryobject && dataSource.queryobject.where) { %>
                                      <input type="text" class="form-control" placeholder="EX: " name="object.where" value="<%= dataSource.queryobject.where %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                      <input type="text" class="form-control" placeholder="EX: " name="object.where" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                              </div>
                              <div class="mb-3">
                                <h5>Data source interactions</h5>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">SELECT</span>
                                    <% if(dataSource.querykey && dataSource.querykey.select) { %>
                                    <input type="text" class="form-control" placeholder="EX: *" name="key.select" value="<%= dataSource.querykey.select %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                    <input type="text" class="form-control" placeholder="EX: *" name="key.select" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">FROM</span>
                                    <% if(dataSource.querykey && dataSource.querykey.from) { %>
                                      <input type="text" class="form-control" placeholder="EX: USER, CONTENT" name="key.from" value="<%= dataSource.querykey.from %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                      <input type="text" class="form-control" placeholder="EX: USER, CONTENT" name="key.from" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">WHERE</span>
                                    <% if(dataSource.querykey && dataSource.querykey.where) { %>
                                      <input type="text" class="form-control" placeholder="EX: USER.id = CONTENT.userId" name="key.where" value="<%= dataSource.querykey.where %>" aria-describedby="basic-addon1">
                                    <% } else { %>
                                      <input type="text" class="form-control" placeholder="EX: USER.id = CONTENT.userId" name="key.where" aria-describedby="basic-addon1">
                                    <% } %>
                                  </div>
                              </div>
                              <div id="dt_request" class="mb-3">
                                <h5>Data source items/contents</h5>
                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="basic-addon1">SELECT</span>
                                  <% if(dataSource.queryrequest && dataSource.queryrequest.select) { %>
                                    <input type="text" class="form-control" placeholder="EX: *" name="request.select" value="<%= dataSource.queryrequest.select %>" aria-describedby="basic-addon1">
                                  <% } else { %>
                                    <input type="text" class="form-control" placeholder="EX: *" name="request.select" aria-describedby="basic-addon1">
                                  <% } %>
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="basic-addon1">FROM</span>
                                  <% if(dataSource.queryrequest && dataSource.queryrequest.from) { %>
                                    <input type="text" class="form-control" placeholder="EX: CONTENT" name="request.from" value="<%= dataSource.queryrequest.from %>" aria-describedby="basic-addon1">
                                  <% } else { %>
                                    <input type="text" class="form-control" placeholder="EX: CONTENT" name="request.from" aria-describedby="basic-addon1">
                                  <% } %>
                                </div>
                                <div class="input-group mb-3">
                                  <span class="input-group-text" id="basic-addon1">WHERE</span>
                                  <% if(dataSource.queryrequest && dataSource.queryrequest.where) { %>
                                    <input type="text" class="form-control" placeholder="EX: " name="request.where" value="<%= dataSource.queryrequest.where %>" aria-describedby="basic-addon1">
                                  <% } else { %>
                                    <input type="text" class="form-control" placeholder="EX: " name="request.where" aria-describedby="basic-addon1">
                                  <% } %>
                                </div>
                              </div>
                            </form>
                              <button class="mx-5 btn btn-primary btn-sm" onclick="onSubmit()" >Submit Query</button>
                            <% } %>
                        </div>
                      </div>	
                    </div>
                    <div class="col-md-8 p-3">
                        <div class="text-left">
                            <div class="card border rounded-5 p-1" style="width: 100%; height: 1100px; background-color: #F7F7F7; overflow: auto;">
                              <h5 class="mt-2">Data source user</h5>  
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataObject.data) { %>
                                      Data source user <%= dataObject.current %> / <%= dataObject.count %>
                                    <% } else { %>
                                      Data source user
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataObject.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataObject.data) { %>
                                    <tbody>
                                      <% dataObject.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index +1 %></th>
                                          <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                              <h5 class="mt-2">Data source interactions</h5> 
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataKey.data) { %>
                                      Data source interactions <%= dataKey.current %> / <%= dataKey.count %>
                                    <% } else { %>
                                      Data source interactions
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataKey.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                <% if (dataKey.data) { %>
                                  <tbody>
                                    <% dataKey.data.forEach(function(data, index) { %>
                                      <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <td><%= data[key] %></td>
                                        <% }) %>
                                      </tr>
                                    <% }) %>
                                  </tbody>
                                <% } %>
                                </table>
                              </div>
                              <h5 class="mt-2">Data source items/contents</h5>
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataRequest.data) { %>
                                      Data source user <%= dataRequest.current %> / <%= dataRequest.count %>
                                    <% } else { %>
                                      Data source user
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataRequest.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataRequest.data) { %>
                                    <tbody>
                                      <% dataRequest.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                              <% if (dataKey.data && dataRequest.data) { %>
                                <button class="mt-2 mx-5 btn btn-primary btn-sm" type="submit">Submit Data</button>
                              <% } else { %>
                                <button class="mt-2 mx-5 btn btn-primary btn-sm disabled" type="submit">Submit Data</button>
                              <% } %>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="footer">
            <%- include('../layouts/footer') -%>
        </div>
        <%- include('../layouts/scripts')  -%>
        <script>
          function onSubmit() {
            var form = document.querySelector("#add-query");
            var formData = {
              queryobject: {},
              querykey: {},
              queryrequest: {},
            };
            function checkNull(input, data, query) {
              return new Promise(function(resolve) {
                if (form.querySelector(input).value.length == 0) {
                  return resolve();
                } 
                formData[data][query] = form.querySelector(input).value;
                resolve();
              })
            }
            Promise.all([
              checkNull('input[name="object.select"]', 'queryobject', 'select'),
              checkNull('input[name="object.from"]', 'queryobject', 'from'),
              checkNull('input[name="object.where"]', 'queryobject', 'where'),
              checkNull('input[name="key.select"]', 'querykey', 'select'),
              checkNull('input[name="key.from"]', 'querykey', 'from'),
              checkNull('input[name="key.where"]', 'querykey', 'where'),
              checkNull('input[name="request.select"]', 'queryrequest', 'select'),
              checkNull('input[name="request.from"]', 'queryrequest', 'from'),
              checkNull('input[name="request.where"]', 'queryrequest', 'where'),
            ]).then(async ()=> {
              var jobId = document.getElementById('my-h1').innerHTML.split('Job id: ')[1];           
              let response = await fetch(`http://localhost:5000/job/add-query/${jobId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
              })
              location.reload();
            })
          }
        </script>
    </body>
</html>