<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
    <body>
        <header class="masthead img-fluid" style="background-image: url('/img/main.svg')">
            <div class="container position-relative px-4 px-lg-5 py-3">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 id="my-h1">Job id: <%=job._id%></h1>
                            <span class="subheading"><%=job.createdAt%></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="px-3 my-1 mx-2">
                <div class="row d-flex justify-content-lg-between">
                    <div class="col-md-4">
                        <div class="row mt-3">
                          <div class="card border rounded-5 p-3" style="width: 100%; height: 1070px; background-color: #F7F7F7; overflow: auto;">
                            <div id="alert-parent">
                            <% if(messageType == 'success') { %>
                              <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                  <strong><%= message %></strong>
                                  <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            <% } %>
                            <% if(messageType == 'danger') { %>
                              <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                  <strong><%= message %></strong>
                                  <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                              </div>
                            <% } %>
                          </div>
                          <% if (dataSource.type != 'file') { %>
                            <div class="card border rounded-5 p-1 m-1 row gx-4 gx-lg-5" style="width: 98%;">
                              <form id="add-unique" class="form-horizontal">
                                <div class="logo mt-4">
                                  <div class="col-md-12 text-center">
                                    <h2 style="font-size: 20px;">Auto update</h2>
                                  </div>
                                </div>
                                <div class="justify-content-center px-4 pb-4">
                                  <div class="col-sm-12 mb-1">
                                    <label for="unique" class="form-label">Unique columns</label>
                                    <input type="text" class="form-control mb-2" id="unique1" name="unique1" placeholder="Primary key" required>
                                    <input type="text" class="form-control d-none mb-2" id="unique2" name="unique2" placeholder="Primary key" required>
                                    <input type="text" class="form-control d-none mb-2" id="unique3" name="unique3" placeholder="Primary key" required>
                                    <div class="invalid-feedback">
                                        Valid unique is required.
                                    </div>
                                  </div>
                                  <button id="btn-add" class="btn btn-outline-primary btn-floating btn-sm" type="button" onclick="onAdd()">+</button>
                                  <div class="col-md-9 mb-2">
                                    <label for="autoUpdate" class="form-label">Data source</label>
                                    <select class="form-select" id="targetUnique" name="targetUnique" required>
                                        <option value="">Choose...</option>
                                        <option value="Object">Data source User</option>
                                        <option value="Key">Data source Interactions</option>
                                        <option value="Request">Data source items/contents</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a Data source.
                                    </div>
                                  </div>
                                  <div class="col-md-9 mb-4">
                                    <label for="autoUpdate" class="form-label">Auto update</label>
                                    <select class="form-select" id="timeUpdate" name="timeUpdate" required>
                                        <option value="">Choose...</option>
                                        <option value="1">1 day</option>
                                        <option value="5">5 days</option>
                                        <option value="10">10 days</option>
                                        <option value="15">15 days</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a auto update.
                                    </div>
                                  </div>
                                  <div class="col-md-12 text-center">
                                    <button id="btn-unique" class="mx-6 btn btn-primary" type="button" onclick="onSubmitUnique()">Submit unique</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                          <% } %>
                            <div class="card border rounded-5 p-1 m-1 row gx-4 gx-lg-5" style="width: 98%;">
                              <form method="POST" action="" class="form-horizontal">
                                <div class="logo mt-4">
                                  <div class="col-md-12 text-center">
                                    <h2 style="font-size: 20px;">Recommendations</h2>
                                  </div>
                                </div>
                                <div class="justify-content-center px-4 pb-4">
                                  <div class="col-sm-12">
                                    <label for="object" class="form-label">object</label>
                                    <input type="text" class="form-control" id="object" name="object" placeholder="Title" required>
                                    <div class="invalid-feedback">
                                        Valid title is required.
                                    </div>
                                  </div>
                                  <div class="col-sm-12 py-2">
                                    <label for="title" class="form-label">key</label>
                                    <input type="key" class="form-control" id="key" name="key" placeholder="key" required>
                                    <div class="invalid-feedback">
                                        Valid title is required.
                                    </div>
                                  </div>
                                  <div class="col-sm-12 py-2 mb-2">
                                    <label for="request" class="form-label">request</label>
                                    <input type="text" class="form-control" id="request" name="request" placeholder="request" required>
                                    <div class="invalid-feedback">
                                        Valid title is required.
                                    </div>
                                  </div>
                                  <div class="col-md-12 text-center">
                                    <button class="mx-6 btn btn-primary" type="submit">Create recommendations</button>
                                  </div>
                                </div>
                              </form>
                            </div>
                        </div>
                      </div>	
                    </div>
                    <div class="col-md-8 p-3">
                        <div class="text-left">
                            <div class="card border rounded-5 p-1" style="width: 100%; height: 1070px; background-color: #F7F7F7; overflow: auto;">
                              <div class="col-md-12 text-center mt-2">
                                <h2 style="font-size: 20px;">Data source user</h2>
                              </div>
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataObject.data) { %>
                                      Data source user <%= dataObject.current %> / <%= dataObject.count %>
                                    <% } else { %>
                                      Data source user
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataObject.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                          <th scope="col">
                                            <% if(dataObject.unique && dataObject.unique.includes(key)){%>
                                              <i class="fas fa-key"><%= key %></i>
                                            <% } else { %>
                                              <%= key %>
                                            <% } %>
                                          </th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataObject.data) { %>
                                    <tbody>
                                      <% dataObject.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index +1 %></th>
                                          <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                              <div class="col-md-12 text-center mt-2">
                                <h2 style="font-size: 20px;">Data source interactions</h2>
                              </div>
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataKey.data) { %>
                                      Data source interactions <%= dataKey.current %> / <%= dataKey.count %>
                                    <% } else { %>
                                      Data source interactions
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataKey.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <th scope="col d-inline">
                                            <% if(dataKey.unique && dataKey.unique.includes(key)){ %>
                                              <i class="fas fa-key"><%= key %></i>
                                            <% } else { %>
                                              <%= key %>
                                            <% } %>
                                          </th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                <% if (dataKey.data) { %>
                                  <tbody>
                                    <% dataKey.data.forEach(function(data, index) { %>
                                      <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <td><%= data[key] %></td>
                                        <% }) %>
                                      </tr>
                                    <% }) %>
                                  </tbody>
                                <% } %>
                                </table>
                              </div>
                              <div class="col-md-12 text-center mt-2">
                                <h2 style="font-size: 20px;">Data source items/contents</h2>
                              </div>
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataRequest.data) { %>
                                      Data source items/contents <%= dataRequest.current %> / <%= dataRequest.count %>
                                    <% } else { %>
                                      Data source items/contents
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataRequest.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                          <th scope="col">
                                            <% if(dataRequest.unique && dataRequest.unique.includes(key)) { %>
                                              <i class="fas fa-key"><%= key %></i>
                                            <% } else { %>
                                              <%= key %>
                                            <% } %>
                                          </th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataRequest.data) { %>
                                    <tbody>
                                      <% dataRequest.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="footer">
            <%- include('../layouts/footer') -%>
        </div>
        <%- include('../layouts/scripts')  -%>
      <script>
        function onAdd() {
          let open = true;
          for(let i=1; i < 4; i++) {
            if( $(`#unique${i}`).hasClass('d-none')) {
              $(`#unique${i}`).removeClass('d-none');
              if( i === 3){
                open = false;
              }
              break;
            }
          }
          if( open === false ) {
            $(`#btn-add`).addClass('d-none');
          }
        }

        function onSubmitUnique() {
          var form = document.querySelector("#add-unique");
          let formData = {
            unique: [],
            target: $("#targetUnique").val(),
            autoUpdate: Number($("#timeUpdate").val()),
          };
          function checkNull(input, id) {
            return new Promise(function(resolve) {
              if (form.querySelector(input).value.length == 0) {
                return resolve();
              }
              formData.unique.push(form.querySelector(input).value);
              resolve();
            })
          }
          Promise.all([
            checkNull('input[name="unique1"]', 'unique1'),
            checkNull('input[name="unique2"]', 'unique2'),
            checkNull('input[name="unique3"]', 'unique2'),
          ]).then(async ()=> {
              const jobId = document.getElementById('my-h1').innerHTML.split('Job id: ')[1];
              const response = await fetch(`/job/check-unique/${jobId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
              })
              const result = await response.json();
              let message = result.message;
              let type = result.type;
              if (message == 'OK') {
                window.location.hash = 'reload';
                window.location.reload();
                return;
              }
              $(`#alert-parent`).append(`
                <div id='alert' class="alert alert-${type} alert-dismissible fade show" role="alert">
                  <strong>${message}</strong>
                  <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" onclick="onCloseAlert()" aria-label="Close"></button>
                </div>`
              )
              $(`#unique2`).addClass('d-none');
              $(`#unique3`).addClass('d-none');
              form.reset();
          })
        };
        function onCloseAlert(){
          $('#alert').hide();
        }
        $(document).ready(function () {
          if (window.location.hash == '#reload') {
            history.replaceState(null, null, ' ');
            $(`#alert-parent`).append(`
                <div id='alert' class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>Add unique columns success!</strong>
                  <button id='btn-alert' onclick="onCloseAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`
              )
          }
        });
      </script>
    </body>
</html>