<!DOCTYPE html>
<html lang="en">
    <%- include('../layouts/header') -%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        textarea {
        height: 70px !important;
        resize: none;
        }
        .mb-10 {
            margin-bottom: 2px;
        }
        .hide{
            width: 100%;
            height: 100%;
            display: none;
            background-color: #fff;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        .hide img{
            width: 800px;
            height: 284px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -142px;
            margin-left: -400px;
        }
        .body-hide {
            overflow: hidden;
        }
    </style>
    <%- include('../layouts/navbar') -%>
    <body>
        <header class="masthead img-fluid" style="background-image: url('/img/main.svg')">
            <div class="container position-relative px-4 px-lg-5 py-3">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 id="my-h1">Job id: <%=job._id%></h1>
                            <span class="subheading"><%=job.createdAt%></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-fluid">
            <div class="px-3 my-1 mx-2">
                <div class="row d-flex justify-content-lg-between">
                    <div class="col-md-4">
                        <div class="row mt-3">
                          <div class="card border rounded-5 p-3" style="width: 100%; height: 1100px; background-color: #F7F7F7; overflow: auto;">
                            <% if(messageType == 'success') { %>
                                <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                    <strong><%= message %></strong>
                                    <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %>
                            <% if(messageType == 'danger') { %>
                                <div id='alert' class="alert alert-<%=messageType%> alert-dismissible fade show" role="alert">
                                    <strong><%= message %></strong>
                                    <button id='btn-alert' type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %>
                            <form method="POST" action="" class="form-horizontal">
                              <div class="col-sm-6">
                                <label for="object" class="form-label">object</label>
                                <input type="text" class="form-control" id="object" name="object" placeholder="Title" required>
                                <div class="invalid-feedback">
                                    Valid title is required.
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <label for="title" class="form-label">key</label>
                                <input type="key" class="form-control" id="key" name="key" placeholder="key" required>
                                <div class="invalid-feedback">
                                    Valid title is required.
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <label for="request" class="form-label">request</label>
                                <input type="text" class="form-control" id="request" name="request" placeholder="request" required>
                                <div class="invalid-feedback">
                                    Valid title is required.
                                </div>
                              </div>
                              <button class="mx-5 btn btn-primary btn-sm" type="submit">Create recommendations</button>
                            </form>
                        </div>
                      </div>	
                    </div>
                    <div class="col-md-8 p-3">
                        <div class="text-left">
                            <div class="card border rounded-5 p-1" style="width: 100%; height: 1100px; background-color: #F7F7F7; overflow: auto;">
                              <h5 class="mt-2">Data source user</h5>  
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataObject.data) { %>
                                      Data source user <%= dataObject.current %> / <%= dataObject.count %>
                                    <% } else { %>
                                      Data source user
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataObject.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataObject.data) { %>
                                    <tbody>
                                      <% dataObject.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index +1 %></th>
                                          <% Object.keys(dataObject.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                              <h5 class="mt-2">Data source interactions</h5> 
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataKey.data) { %>
                                      Data source interactions <%= dataKey.current %> / <%= dataKey.count %>
                                    <% } else { %>
                                      Data source interactions
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataKey.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                <% if (dataKey.data) { %>
                                  <tbody>
                                    <% dataKey.data.forEach(function(data, index) { %>
                                      <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <% Object.keys(dataKey.data[0]).forEach(function(key, index) { %>
                                          <td><%= data[key] %></td>
                                        <% }) %>
                                      </tr>
                                    <% }) %>
                                  </tbody>
                                <% } %>
                                </table>
                              </div>
                              <h5 class="mt-2">Data source items/contents</h5>
                              <div class="card border rounded-5 p-1 m-1" style="width: 99%; height: 300px; overflow: auto;">
                                <table id="table" class="table table-hover table-borderless align-middle caption-top p-2">
                                  <caption>
                                    <% if (dataRequest.data) { %>
                                      Data source user <%= dataRequest.current %> / <%= dataRequest.count %>
                                    <% } else { %>
                                      Data source user
                                    <% } %>
                                  </caption>
                                  <thead class="table-dark">
                                    <tr>
                                      <% if (dataRequest.data) { %>
                                        <th scope="col">#</th>
                                        <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                          <th scope="col"><%= key %></th>
                                        <% }) %>
                                      <% } else { %>
                                      <td colspan="5" class="text-center">
                                          You don't have data yet.
                                      </td>
                                      <% } %>
                                    </tr>
                                  </thead>
                                  <% if (dataRequest.data) { %>
                                    <tbody>
                                      <% dataRequest.data.forEach(function(data, index) { %>
                                        <tr>
                                          <th scope="row"><%= index + 1 %></th>
                                          <% Object.keys(dataRequest.data[0]).forEach(function(key, index) { %>
                                            <td><%= data[key] %></td>
                                          <% }) %>
                                        </tr>
                                      <% }) %>
                                    </tbody>
                                  <% } %>
                                </table>
                              </div>
                              <% if (dataKey.data && dataRequest.data) { %>
                                <button class="mt-2 mx-5 btn btn-primary btn-sm" type="submit">Submit Data</button>
                              <% } else { %>
                                <button class="mt-2 mx-5 btn btn-primary btn-sm disabled" type="submit">Submit Data</button>
                              <% } %>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="footer">
            <%- include('../layouts/footer') -%>
        </div>
        <%- include('../layouts/scripts')  -%>
    </body>
</html>